body{
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: hsl(0, 0%, 0%);
}
nav {
    display: flex;
    justify-content: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 13%, rgba(146,28,195,1) 52%, rgba(253,255,183,1) 90%, rgba(226,231,55,1) 100%);
}
nav a {
    color: #000000;
    text-decoration: none;
    padding: 15px 20px;
    display: table;
    font-size: 30px;
}
nav a:hover {
    background-color: #000000;
}
.um{
    align-items: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 13%, rgba(146,28,195,1) 52%, rgba(253,255,183,1) 90%, rgba(226,231,55,1) 100%);
    text-align: center;
}
.dois{
    align-items: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 13%, rgba(146,28,195,1) 52%, rgba(253,255,183,1) 90%, rgba(226,231,55,1) 100%);
    text-align: center;
}
.tres{
    align-items: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 13%, rgba(146,28,195,1) 52%, rgba(253,255,183,1) 90%, rgba(226,231,55,1) 100%);
    text-align: center;
}
.test{
    align-items: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 13%, rgba(146,28,195,1) 52%, rgba(253,255,183,1) 90%, rgba(226,231,55,1) 100%);
    text-align: center;
    color: #000000;
}
p{
    font-size: 50px;
}
footer{
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    text-align: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 13%, rgba(146,28,195,1) 52%, rgba(253,255,183,1) 90%, rgba(226,231,55,1) 100%);

}
.lego{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 13%, rgba(146,28,195,1) 52%, rgba(253,255,183,1) 90%, rgba(226,231,55,1) 100%);
    color: #ffffff;
    padding: 0px;
    text-align: center;
}
.hana{
    display: grid;
}
.img1{
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 200px;
}
.img2{
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);
}
.img3{
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);
}
.img4{
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);
}
.img5{
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);

}
.img6{
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);
}
.img7{
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);
}
.img8{
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);

}
.img9{
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.3);

}
